{% extends "navbar.html" %}
{% load static %}
{% block content%}
<div>
    <img src="static/music1.jpg" class="img-fluid"  alt="...">

    <div class="container d-flex align-items-center justify-content-center my-4">
        <div class="text-center">
        <h1 class="display-4 ">Share Your Melodies</h1>
    <p class="lead">Upload Your Song and Let the World Hear Your Music</p>
      </div> </div>
    
    <div class = "container ">
        <div class="d-flex justify-content-center align-items-center">
          <form method="POST" enctype="multipart/form-data" style="width: 30rem;">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_artist_name">Artist Name</label>
              <input class="form-control mb-3" id="id_artist_name" name="artist_name" type="text" placeholder="Enter artist name">
            </div>
            <div class="form-group">
              <label for="id_song_name">Song Name</label>
              <input class="form-control mb-3" id="id_song_name" name="song_name" type="text" placeholder="Enter song name">
            </div>
            <div class="form-group">
              <label for="id_songaudio_file">Audio File</label>
              <input class="form-control-file mb-3" id="id_songaudio_file" name="songaudio_file" type="file">
            </div>
            <div class="form-group">
              <label for="id_duration">Duration</label>
              <input class="form-control mb-3" id="id_duration" name="duration" type="text" placeholder="Enter duration">
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 1rem">Submit</button>
          </form>
          
          
        </div>
    
          
    </div>
  </div>
    
  {% endblock %}