{% extends "navbar.html" %}
{% load static %}
{% block content %}

<div class = "text-center">
  <h1 class="display-4"> Search Results </h1>
  {% if data %}
  {% for ele in data %}
  <div class="container d-flex align-items-center justify-content-center my-4 text-center" style="color: aliceblue;">
    Song: {{ele.Song}}
  </div>
  <div class="container d-flex align-items-center justify-content-center my-4 text-center" style="color: aliceblue;">
    Artist: {{ele.Artist}}
  </div>

  <div class="container d-flex align-items-center justify-content-center my-4 text-center" style="color: aliceblue;">
    
  </div>
  <form action="/play" method="post">
    {% csrf_token %}
    <button type="submit" name="submit" value="{{ele.Song}}, {{ele.Artist}}, {{ele.url}}">Play</button>
  </form>
  {% endfor %}
  
  {% else %}
  <h2>No Valid Results</h2>
  {% endif %}

</div>

{% endblock %}
